#footer
	#footerContent
		#footerMenu.Trebuchet
			ul
				li
					a(href='/galeria') Condiciones de Uso
				li
					a(href='/galeria') Tu Privacidad
				li
					a(href='/galeria') Propiedad Intelectual
		#footerText.RockwellStd
			a.pull-right	
				| Copyright © 2013 Compañia de Turismo de Puerto Rico y Goolge Inc. Todos los derechos reservados.


