extends layout

block content
	div.centeredBox.boxShadow(style='height:450px')
		div#gracias
			img(src='/img/logo.png')
			br
			br
			h1 ¡Gracias por Participar!
			br
			h2 Tu contenido se está revisando para asegurar cumplimiento con las reglas del Concurso. 
			h2 En breve recibirás un correo electrónico confirmando que ha subido exitosamente.
			br
		#galeriaREF
			a(href='/galeria')
				h3 GALERIA
		p(style='margin-top: 16px; margin-left:35px; margin-right:35px; color:#52BAB5; text-align:center') de tener alguna duda favor llamar al #{br} #{b} 1-800-981-7575