.container#insertsHTML
	h3 AQUÍ COMPARTIMOS ALGUNOS DE LOS PUNTOS MÁS IMPORTANTES DE LAS REGLAS DEL CONCURSO. LAS REGLAS EN SU TOTALIDAD SE ENCUENTRAN EN LA SECCIÓN DE TÉRMINOS Y CONDICIONES.
	table#instruccionesTabla
		tr
			td#tdTitle
				p eligibilidad
			td
				p Los participantes deben ser mayores de 18 años al día del inicio de la competencia (27 de junio de 2013)
		tr
			td#tdTitle
				p validez
			td
				p El concurso Puerto Rico By Puerto Ricans comienza el 27 de junio de 2013 a las 11:00am y culminará el 31 de agosto de 2013 a las 12:00 pm.
		tr
			td#tdTitle
				p jurado
			td
				p Un jurado constituido por el periodista Julio Rivera Saniel, el fotoperiodista Tonito Zayas, la cineasta Sonia Fritz, el corporativo de Google para Latinoamérica, Francisco Forero y la empresaria Jessa Viva Capó seleccionarán los ganadores del Gran Premio Google, los premios Panoramio y los premios por categoría.
		tr
			td#tdTitle
				p Contenido
			td
				p (a) Se evaluarán fotos, videos y/o blogs alojados en una de las siguientes plataformas de Internet – Instagram, FlickR, Pinterest, Panoramio, YouTube, WordPress, Tumblr, puertoricobypuertoricans.com y/o sitios personales.

				p (b) El material a competir no tiene que ser nuevo o generado durante el tiempo de la competencia, puede ser contenido que ya esté en las plataformas mencionadas y cumpla con las características antes expuestas.
				
				p (c) Los participantes pueden someter todo el contenido que deseen, tantas veces como deseen, siempre que cumplan con las reglas de participación y lo hagan dentro del tiempo estipulado para la competencia. 
		tr
			td#tdTitle
				p Premios Favoritos
			td
				p Las personas siempre pueden visitar la galería de contenido, votar por su contenido favorito y compartirlo en sus redes sociales. Podrán votar una (1) sola vez por contenido. Se premiarán las tres piezas que más votos reciban al finalizar el concurso.
		tr
			td#tdTitle
				p Premio Panoramio
			td
				p Una vez los participantes suban el URL del contenido a competir tendrán la opción de participar en la categoría especial de Panoramio. Esta categoría tiene el objetivo de subir fotos a Google Earth y Google Maps a través de la plataforma de Panoramio.
