#pasos
	img#pasosCollage(src='/img/instrucciones_aux.png')
	table
		tr
			td#tdPasos
				h1 1.
			td
				p Queremos que 
					span(style='color:#e6042b') PuertoRicobyPuertoRicans.com
					|  se convierta en el portal oficial de todo contenido digital que resalte positivamente a Puerto Rico. Únte a este esfuerzo. Puedes someter fotos, videos y blogs que sean de tu creación.
		tr
			td#tdPasos
				h1 2.
			td
				p Escoge el modo en que vas a entrar tu contenido: A) Subiendo tu foto desde tu computadora. B) Pegando la dirección de URL de tu foto, video o blog.
		tr
			td#tdPasos
				h1 3.
			td
				p Llena la información en la sección de 
					span(style='color:#53afaa') PARTICIPA
					|  y acepta los Términos y Condiciones
					|  al finalizar.