.container#premios
	h4 ¡ANÍMATE A PARTICIPAR!
	p La Compañía de Turismo de Puerto Rico realizará una galería exhibiendo las mejores piezas de contenido sometidas al concurso. Además, tus fotos, vídeos y/o blogs podrían ser parte de la promoción de turismo interno.
	h2 TU CONTENIDO COMPITE POR UNA GRAN VARIEDAD DE PREMIOS:
	table
		tr
			td#tdPicture
				img.pull-right(style='margin-right:50px',src='/img/premio3.png')
			td#tdPremios
				span
					h3 
						span(style='color:#98439c') Gran Premio
						|  al contenido más completo y llamativo
					ul
						li Estadía de 2 noches y 3 días en El Conquistador Resort, Fajardo; incluye una excursión de East Island Excursions, una excursión de Yokahú kayaks y una aventura en Toro Verde. 
		tr
			td#tdPicture
				img.pull-right(style='margin-right:50px',src='/img/premio2.png')
			td#tdPremios
				span
					h3 
						span(style='color:#e6042b') Premio Panoramio
						|  a las dos fotos más destacadas sometida desde Panoramio.com
					ul
						li Premio A: estadía de 2 noches y 3 días en el Sheraton Old San Juan Hotel; incluye una excursión de Rico Sun Tours y una aventura en Toro Verde.
						li Premio B: estadía en 2 noches y 3 días en el Hotel Verdanza; incluye una excursión de Spread Eagle Catamarán. 
		tr
			td#tdPicture
				img.pull-right(style='margin-right:50px', src='/img/premio3.png')
			td#tdPremios
				span
					h3 
						span(style='color:#958060') Favorito del Público
						|  a las 3 piezas que más votos reciban al finalizar el periodo promocional
					ul
						li Premio A: estadía de 2 noches y 3 días en el Hotel Caribe Hilton; incluye una excursión de Scuba Dogs y una aventura en Toro Verde.
						li Premio B: estadía de 2 noches y 3 días en el Rincón Beach Resort; incluye una excursión de Aquatica Dive and Surf.
						li Premio C: una estadía 2 noches y 3 días en el Miramar Hotel; incluye una excursión de San Juan Water Tours.
		tr
			td#tdPicture
				img.pull-right(style='margin-right:50px', src='/img/premio4.png')
			td#tdPremios
				span
					h3 
						span(style='color:#53afaa') Premios por Categorias 
						| - estadías en Paradores y Hoteles de Puerto Rico, aventuras y excursiones.
	br
	#premiosFinal
		h4 ¡Así que pasea por nuestro Puerto Rico, comparte y 
			a.RockwellStd-Bold(href='/participa') participa!
	br