extends layout

block content
	div.container
		.container.centeredBox.boxShadow(style='height:590px')
			iframe(style='margin-left:20px; margin-top:20px', width='760', height='555', src="//www.youtube.com/embed/uAEdl-b1SdY?rel=0", frameborder='0', allowfullscreen='allowfullscreen')
